{% extends "base.html" %}
{% block style %}
    <style>
        .testbox {
            width: 150px;
            height: 150px;
            border: 3px solid {{ color }};
            padding: 10px;
        }

        #boxtext {
            text-align: center;
        }

    </style>
{#    <script language="JavaScript" type="text/javascript">#}
{##}
{#        function sayHello() {#}
{#            alert('Hello world!')#}
{#        }#}
{##}
{#    </script>#}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h3>Boudewijn Aasman</h3>
            <p>I'm a data scientist that likes to dabble in various programming related
                projects, such as building and maintaining this website. </p>

{#            <input type="button" onclick="sayHello()" value="sayhello">#}
{#            <script language="JavaScript" type="text/javascript">#}
{##}
{#                document.write('test javascript')#}
{#            </script>#}
        </div>
    </div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
