{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <style>
        .imgContainer {
            float: left;
            text-align: center;
            margin-right: 10px;
        }

        .jumbotron {
            background-image: url({{ url_for('static', filename='img/15015497992215.png') }});
            -webkit-background-size:;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="header clearfix">
      </div>

      <div class="jumbotron">
        <h1>The Record Recorder</h1>
        <p class="lead">Scrobble your records!</p>
          {% if current_user.is_authenticated %}
                <p><a class="btn btn-lg btn-success" href="{{ url_for('collection.collection_page',
                    username=current_user['username']) }}"
                    role="button">Go to your collection</a></p>
          {% else %}
                <p><a class="btn btn-lg btn-success" href="{{ url_for('auth.register') }}"
                    role="button">Sign up</a></p>
          {% endif %}
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h4>Maintain your collection</h4>
          <p>Import your records straight from your discogs account.</p>

          <h4>Scrobble to lastfm</h4>
          <p>Don't miss out on those precious plays. People need to know how cool you are</p>

            <h4>Analyze your collection</h4>
          <p>View interesting statistics and graphs based on both your collection,
            and the overall userbase</p>
        </div>
          <div class="row">
              <div class="col-lg-12">
                </br>
                <h6>RECENTLY RECORDED</h6>
                  {% for image_file in images_to_display %}
                    <div class="imgContainer" id="top_albums">
                    {% if username != 'anonymous' %}
                        <a href="{{ url_for('collection.album_page', album_id=image_file[1], username=user['user']) }}">
                            <img src="{{ url_for('static', filename='tmp/%s' % image_file[0]) }}"
                                 style="height: 100px; width:100px">
                            <figcaption>{{ image_file[2] }}</figcaption>
                        </a>
                    {% else %}
                        <a href="{{ url_for('auth.register') }}">
                            <img src="{{ url_for('static', filename='tmp/%s' % image_file[0]) }}"
                                 style="height: 100px; width:100px">
                            <figcaption>{{ image_file[2] }}</figcaption>
                        </a>
                    {% endif %}
                    </div>
                {% endfor %}
              </div>
          </div>


    </div> <!-- /container -->
{% endblock %}