{% extends "base.html" %}
{% block style %}
    <style>
        #row_1 {
            text-align: center;
{#            display: inline-block;#}
        }

        .imgContainer {
            float: left;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        #info_more {
            margin-left: 15px;
            margin-top: 65px;
            text-align: center;
        }

        #thumb_image {
            width: 150px;
            height: 150px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% from "macros.html" import show_image %}
        <div class="row" id="row_1">
            <strong><h3>MOST LISTENED TO ALBUMS</h3></strong>
            </br>
                {% for image_file in images_to_display %}
                    <div class="imgContainer" id="top_albums">
                        {{ show_image(image_file, username, 'collection.album_page', caption=False) }}
                    </div>
                {% endfor %}
        </div>

        </br>
        <div class="row" id="row_2">
            <div class="col-md-6">
{#                <img src="{{ url_for('static', filename='tmp_viz/%s' % filename) }}">#}
            </div>
            <div class="col-md-6">
            </div>

        </div>
    </div>
{% endblock %}