{% extends "base.html" %}
{% block style %}
    <style>
        .testbox {
            width: 150px;
            height: 150px;
            border: 3px solid {{ color }};
            padding: 10px;
        }

        #boxtext {
            text-align: center;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h3>Boudewijn Aasman</h3>
            <p>I'm a data scientist that likes to dabble in various programming related
                projects, such as building <a href="#">and</a> maintaining this website. </p>

            <a href="#" data-toggle="tooltip" title="Fight me!">Hover on me bro</a>

        </div>
    </div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
