<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record Scrobbler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    {% block style %} {% endblock %}
</head>
<body>
<ul class="navigation">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('collection', username=current_user.username) }}">Collection</a></li>
        <li><a href="{{ url_for('logout', username=current_user.username) }}">Logout</a></li>
        <li><a href="{{ url_for('add_record', username=current_user.username) }}">Add Record</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
</ul>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    {% block content %} {% endblock %}
    {% block collection_info %} {% endblock %}
</body>
</html>