{% extends "base.html" %}
{% block style %}
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
        }
        table, th, td {
            border: 1px solid black;
            text-align: left;
        }

    </style>
{% endblock %}
{% block content %}
    {% if user['discogs_info']['oauth_code'] %}
        </br>
    {% else %}
        <p>It looks like you haven't been authenticated yet with Discogs. This will allow this app to generate
            some cool statistics for you</p>

        <a href="{{ url_for('discogs_setup', username=user['user'], tokens=client.get_authorize_url()) }}">
            Get started with Discogs</a>
            </br>
    {% endif %}
{% endblock %}

{% block collection_info %}
    {% if user['records'] %}
        <div style="overflow-x:auto;">
            {{ table }}
        </div>
    {% else %}
        <p>You have not added any records yet</p>
    {% endif %}

{% endblock %}