{% extends "base.html" %}
{% block style %}
    <style>
        .row {
            text-align: center;
{#            display: inline-block;#}
        }

        .imgContainer {
            float: left;
            text-align: center;
            margin-right: 10px;
        }

        .imgGenreContainer {
            float: left;
            text-align: center;
            margin-right: 10px;
        }

        #info_more {
            margin-left: 15px;
            margin-top: 65px;
            text-align: center;
        }

        .box {
            width: 150px;
            height: 150px;
            border: 3px solid black;
            line-height: 150px;
            padding: 10px;
            background-color: rgba(54, 60, 10, .3);
        }

        #boxtext {
            text-align: center;
        }

        #boxcaption {
            text-align: center;

        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row" id="row_1">
            <strong><h3>MOST LISTENED TO ALBUMS</h3></strong>
            </br>
                {% for image_file in images_to_display %}
                    <div class="imgContainer" id="top_albums">
                    <a href="{{ url_for('album_page', album_id=image_file[1], username=user['user']) }}">
                        <img src="{{ url_for('static', filename='tmp/%s' % image_file[0]) }}"
                             style="height: 150px; width:150px">
                        <figcaption>plays: {{ image_file[2] }}</figcaption>
                    </a>
                    </div>
                {% endfor %}
                <div class="imgContainer">
                    <a href="{{ url_for('top_albums', username=user['user']) }}">
                        <button id="info_more" type="button" class="btn btn-info">View all</button>
                    </a>
                    </div>

        </div>

        </br>
        <div class="row" id="row_2">
            <strong><h3>MOST LISTENED TO GENRES</h3></strong>
            </br>
                {% for genre in most_common_genres %}
                    <div class="imgGenreContainer" id="top_genres">
                        <div class="box">
                            <p id="boxtext">{{ genre[0] }}</p>
                            <p id="boxcaption">plays: {{ genre[1] }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="imgGenreContainer">
                    <a href="{{ url_for('top_albums', username=user['user']) }}">
                        <button id="info_more" type="button" class="btn btn-info">View all</button>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}

