{% extends "base.html" %}
{% block style %}
    <style>
        .form-control {
            width: 400px;

        }

        #form_or {
            margin-left: 180px;
        }
    </style>
{% endblock %}
{% block content %}
    {% import "bootstrap/wtf.html" as wtf %}

    <div class="container">
        <div class="'row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" method="post" role="form" id="add_record_form">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    {{ wtf.form_field(form.discogs_id) }}
                    </strong><p id="form_or"><b>or</b></p>
                    {{ wtf.form_field(form.discogs_master_id) }}
                    {{ wtf.form_field(form.submit, class='btn btn-success') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
