{% extends "base.html" %}
{% block style %}
    <style>
        #tracklist {
            float: left;
            display: inline-block;
            list-style: none;
            margin: 0px 0;

        }

        #track {
            margin: 0px 0;
{#            line-height: 10px 0;#}
        }

        #nplays {
            border-style: solid;
            border-width: 1px;
            border-bottom-right-radius: 20px;
            right: 50px;
        }

        small {
            font-size: 125%;
        }

        #warning {
            color: red;
            font-size: small;
        }

        #dbutton {
            font-size: 10px;
            padding: 5px 5px;
        }

        .inline_warning {
            display: inline;
            float: left;
        }
    </style>
{% endblock %}

{% block content %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% include "flash.html" %}
    <div class="container">
        <h3>{{ record['title'] }}</h3>
        <small>{{ record['artists'][0] }}</small>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                </br>
                <img src="{{ url_for('static', filename='tmp/%s' % filename) }}" alt="{{ record.title }}" style="width:300px;height:301.5px;">

            </div>
            <div class="col-xs-6 col-md-4">
                <h5>Tracklist</h5>
                <ul id="tracklist">
                    {% for track in record.track_data %}
                        {% if has_time %}
                            <li id="track">{{ '%s %s - %s' % (track.position, track.title, track.duration) }}</li>
                        {% else %}
                            <li id="track">{{ '%s %s' % (track.position, track.title) }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

                <div class="col-xs-6 col-md-4">
                        {% if current_user.is_authenticated %}
                            <form name="scrobble_form" class="form-horizontal" method="post" role="form">
                                {{ scrobble_form.hidden_tag() }}
                                {{ wtf.form_errors(scrobble_form, hiddens="only") }}

                                {{ wtf.form_field(scrobble_form.play_date) }}
                                {{ wtf.form_field(scrobble_form.submit,
                                                class='btn btn-success') }}
                                {{ wtf.form_field(scrobble_form.just_record_submit,
                                                class='btn btn-warning') }}
                            </form>
                            </br>
                            <p id="nplays">{{ 'Total plays by you: %d' % total_user_plays }}</p>
                            <p id="nplays">{{ 'Total plays on website: %d' % record['total_plays'] }}</p>
                            </br>
                            <form name="tag_form" class="form-horizontal" method="post" role="form">
                                {{ tag_form.hidden_tag() }}
                                {{ wtf.form_errors(tag_form, hiddens="only") }}

                                {{ wtf.form_field(tag_form.tag) }}
                                {{ wtf.form_field(tag_form.submit) }}
                            </form>
                            </br>
                            <form name="delete_form" class="form-horizontal" method="post" role="form">
                                {{ delete_form.hidden_tag() }}
                                {{ wtf.form_errors(delete_form, hiddens="only") }}
                                <div class="inline_warning">
                                    {{ wtf.form_field(delete_form.delete, id='dbutton', class='btn btn-danger') }}
                                    <p id="warning">Warning: This will also delete all tags and plays</p>
                                </div>

                            </form>
                        {% else %}
                            <p>Create an account to start scrobbling</p>
                        {% endif %}

                </div>
        </div>
        <div class="row">
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
