{% extends "base.html" %}
{% block style %}
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            overflow-x: auto;
        }
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% if user['discogs_info']['oauth_code'] %}
            </br>
        {% else %}
            <p>It looks like you haven't been authenticated yet with Discogs. This will allow this app to generate
                some cool statistics for you</p>

            <a href="{{ url_for('collection.discogs_setup', username=user['user'], tokens=client.get_authorize_url()) }}">
                Get started with Discogs</a>
            </br>
        {% endif %}
    </div>

{% endblock %}

{% block collection_info %}
        {% include "flash.html" %}
        <div class="container">
            {% if user['records'] %}
                {{ table }}
            {% else %}
                <p>You have not added any records yet</p>
            {% endif %}
        </div>
{% endblock %}
